@page "/Customers"
@using Workshop.Shared.Ui.Components.Tabs

<PageTitle>Customers</PageTitle>

<h3>@tabName</h3>

@* <Tabs>
  <TabPage Title="Customers List">
    Inhalt...
  </TabPage>
  <TabPage Title="Add New Customer">
    Inhalt...
  </TabPage>
  <TabPage Title="Customer Reports">
    Inhalt...
  </TabPage>
</Tabs> *@

<Tabs OnActiveTab="OnActiveTab">
  <Items>
    <Item Name="list">Customers List</Item>    
    <Item Name="reports">Customer Reports</Item>
    <Item Name="add">Add New Customer</Item>    
  </Items>
  <Panels>
    <Panel Name="list">
      <h4>Customers List</h4>
      <CustomersList></CustomersList>
    </Panel>
    <Panel Name="add">
      <h4>Add New Customer</h4>
      <p>Create a new customer profile.</p>
    </Panel>
    <Panel Name="reports">
      <h4>Customer Reports</h4>
      <p>Generate and view customer reports.</p>
    </Panel>
  </Panels>
</Tabs>


@code {

  private string? tabName;

  private void OnActiveTab(string name)
  {
    tabName = name;
  }

}
