@page "/"
@using CustomerFrontendApp.ViewModels
@using static Workshop.BackendApi.Customer

@inject CustomerClient Client

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
  @foreach (var item in customers)
  {
    <li>@item.Name (#@item.Id)</li>
  }
</ul>

@code {

  private IEnumerable<ListCustomer> customers = [];

  protected override async Task OnInitializedAsync()
  {
    var customerReply = await Client.GetCustomersAsync(new());
    customers = customerReply.Customers.Select(c => new ListCustomer { Id = c.Id, Name = c.Name });
  }

}